* {
	font-family: "Open Sans", sans-serif;
}

body {
	margin: 0;
    background-color: #f9fffe;
    color: #142F41;
}

a {
	color: #174341;
}

h1 {
	text-align: center;
    font-weight: 300;
	font-size: 2em;
	color: #174341;
}

h2 {
    text-align: center;
    color: #174341;
}

img {
	width: 100%;
}


figure {
	border: 1px solid #dee4ed;
	background-color: white;
}

figcaption {
	padding: 8px 16px;
	font-size: 0.8em;
    border-top: 1px solid #dee4ed;
}

.skill {
	text-transform: uppercase;
	color: navy;
}

.project_logo {
	display:block;
	margin: auto;
	width: 300px;
}

#main_container {
    max-width: 1200px;
	padding: 36px;
    margin: 0 auto;
}

#skill_list {
	text-align: center;
}