#headshot {
    display: block;
    margin: auto;
    width: 200px;
}

#profile-links {
    display: block;
    margin: auto;
    padding: 0;
    width: 126px;
}

#profile-links img {
    width: 36px;								
    padding: 4px;
    margin: 0 8px;
}

nav img {
    visibility: hidden;
}

nav #site-title {
    visibility: hidden;
}

#portfolio h2 {
	font-weight: 400;
	font-size: 2em;
	margin-bottom: 0;
}


.project {
	border: 1px solid #786a37;
    text-align: center;
	margin-bottom: 16px;
/*	max-width: 800px;*/
	min-width: 300px;
	padding: 2em 1em 1em 1em;

}

.project img {
	max-width:64px;
	float: left;
}

.project h2 {
	padding: 0 20px;
	color: #566c40;
	font-size: 3em;
}


.project p {
	padding: 0 20px;
	font-size: 0.8em;
	font-weight: 600;
    color: #3D1441;
}
        
@media only screen and (min-width: 600px) {
  #projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3vw;
	padding: 3vw;
  }
	
	h1 {
		font-size: 3em;
	}
	
@media only screen and (min-width: 1200px) {
	#index-page-container {
		display: flex;
		flex-grow: 1;
	}

	#personal-info {
		min-width: 20vw;
		margin-right: 4vw;
	}
	
	
	#portfolio {
		margin-top: 1em;
	}
		
	#projects {
		flex-grow: 2;
	}
	
}