nav#top-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 64px;
    padding: 0 1vw;
	font-size: 1.2em;
	font-weight: 300;
/*    background-image: linear-gradient(to right, #514e22, #446330, #215d48, #174341);}*/
/*    background-image: linear-gradient(to right, #446330, #215d48, #174341);*/
	background-image: linear-gradient(to right, #28272F, #253a55,  #1a3d53, #22333b, #34191e, #3c1218);
	border-bottom: 1px solid #b0bbb1;

}

nav img {
    display: none;
    width: 48px;
    object-fit: scale-down;
}

nav a {
    color: #FFF9E8;
    text-decoration: none;
    padding: 0.5em 0.5em;   
}

a:visited {
    color: #FFF9E8;
}

nav a:hover {
    text-decoration: underline;
    text-decoration-skip: objects;

}


#site-title {
    margin-right: auto;
}


@media only screen and (min-width: 500px) {

	nav img {
		display: inline;
	}
} 
